@using MentorViet.WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-md-12">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
    <hr />
</div>
<div class="col-md-12">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        <label for="RememberMe">Lưu mật khẩu?</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success w-100">Đăng nhập</button>
                </div>
            </div>
        }
    </section>
    <hr />
</div>
<div class="col-md-12 text-center">
    <p>
        Chưa có tài khoản? @Html.ActionLink("Đăng ký", "Register")
    </p>
    <p>
        @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
